.container{
    color: black;
}
.passwordRequirment{
    display: flex;
    flex-direction: column;
    
}
.passwordInfo{
    width:150px;
    text-wrap:balance ;
    font-size: 10px;
    color:red;
    
}
