.container {
  display: flex;
  width: 100vw;
  height: 60vh;
  justify-content: center;
  font-size: 20px;
  color: black;
 
}

.information_sub {
  display: flex;
  gap: 20px;
  color: black;
  height: auto;
  
}
.information {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  gap: 20px;
  border-radius: 25px;
  background-color: #c8d7fa;
  padding-left: 20px;
  padding-right: 23px;
  min-width: 800px;
}
input {
  background-color: #f8f9fa;
  color: black;
}
input:focus {
  outline: 2px solid #48d1cc;
  border-radius: 4px; /* Optional: for rounded corners */
  box-shadow: 0 0 5px #48d1cc; /* Optional: adds glow effect */
}

.text {
  width: 100%;
  height: 80%;
}
.text textarea {
  width: 99%;
  height: 99%;
  /* background-color:  #f8f9fa; */
  background-color: #c8faf0;
  color: black;
  font-size: 20px;
  border-radius: 15px;
  resize: vertical;
  padding-left: 10px;
}
textarea:focus {
  outline: 2px solid #48d1cc;
  border-radius: 4px; /* Optional: for rounded corners */
  box-shadow: 0 0 5px #48d1cc;
}

.time {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  margin-left: 15px;
}

.submitButton {
  width: 100%;
  background-color: #FF6B81;
}
.submitButton:focus {
  outline: none;
}
.username_password {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  
}
.calander {
  background-color: #fbdceb;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.loading {
  width: 10%;
  height: 10%;
  background-color: #48d1cc;
}
.loadingParent {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.navigationPosts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigationPosts button,
.navigationLogout button {
  position: relative;
  background: none;
  border: none;
  padding: 4px 0;
  cursor: pointer;
  color: black;
  font-size: 16px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

/* Animated underline */
.navigationPosts button::after,
.navigationLogout button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #FF6B81; /* reddish-pink */
  transition: width 0.3s ease-in-out;
}

/* On hover, expand the underline */
.navigationPosts button:hover::after,
.navigationLogout button:hover::after {
  width: 100%;
}

.navigationParent{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
  margin-bottom: 5%;
  width:100%;
}
.postHeader{
  width:100vw;
}

@media(max-width:1300px){
  .information{
    padding-bottom: 20px;
    background-color: blueviolet;
    
  }
  .container{
    resize: vertical;
  }
 
}