.forgotPassword{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 25px;
    height:400px;
    width:400px;
    text-align: left;
    
}

.verification button, .verification p{
    width:80%;

}
.verification button:focus{
    outline: none;
}
.verification input{
    width:75%;
    margin-bottom: 20px;
}
.userUnderstanding{
    font-weight: bold;
}

.warning{
    width:80%;
    color:red;
    
}

.finalPassword{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.finalverification{
    background-color: #f8f9fa;
    border-radius: 25px;
    gap:10px;
    display: flex;
    width:400px;
    height:400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.finalverification button, p{
    width:80%;
}
.finalverification input{
    width:75%;
}

.finalSuccess{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.finalSuccessSub{
    background-color: #c3e6cb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    width:300px;
    height:300px;
}

.finalFailSub{
    background-color: #f8d7da;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    width:300px;
    height:300px;
}

.passwordWarning{
    color:red;
    width:80%;
}
button:disabled {
    background-color: #d3d3d3; /* Light gray */
    color: #a1a1a1; /* Light gray text */
    cursor: not-allowed;
    position: relative;
  }